body{margin:0;font-family:Arial;background:#f2f2f2}
header{background:#111;color:#fff;text-align:center;padding:15px;font-size:20px}
main{padding:10px}
.card{background:#fff;padding:15px;margin-bottom:15px;border-radius:10px}
input,select,button{width:100%;padding:12px;margin-top:8px;font-size:16px}
button{background:#111;color:white;border:none;border-radius:8px}
ul{list-style:none;padding:0}
li{background:#eee;padding:8px;margin-top:5px;border-radius:6px}
.rel-item{background:#eee;padding:10px;margin-top:8px;border-radius:8px}